<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= typeof title !== 'undefined' ? title : 'Agendamento de Entrevistas' %></title>
    <% for (var a of assets.styles) { %>
    <link rel="stylesheet" type="text/css" href="/css/<%= a %>">
    <% } %>
</head>

<body>
  <div class="container header">
  <img src="https://www.kienbaum.com.br/home//themes/wc_agenciar3/images/logo-kienbaum.png" align="right" alt="Kienbaum">	
    <h1>Entrevistas</h1>
    <% if (user) { %>
      <nav role="main">
        <ul class="row">
          <li><a href="/">Inicio</a></li>
          <li><a href="/dashboard/<%= user.role.toLowerCase() %>">Painel</a></li>
        </ul>
      </nav>
    <% } %>
  </div>
  <div class="container">
