<%- include('includes/header') %>

  <div class="column center">

    <section class="grow">
      <a href="dashboard/doctor" class="button">Entrar como Consultor</a>
    </section>

    <section class="grow">
      <a href="dashboard/patient" class="button">Entrar como Avaliado</a>
    </section>

    
  </div>

<%- include('includes/footer') %>
